.{{componentName}} {
  /* Component styles */
}

.{{componentName}}__header {
  /* Header styles */
}

.{{componentName}}__body {
  /* Body styles */
}

.{{componentName}}__footer {
  /* Footer styles */
}
