import { render, screen } from '@testing-library/react';
import { {{componentName}} } from './{{componentName}}';

describe('{{componentName}}', () => {
  it('renders correctly', () => {
    render(<{{componentName}} {{propsValues}} />);
    expect(screen.getByText(/{{expectedText}}/i)).toBeInTheDocument();
  });
});
