<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Formulario de Personal - Sistema de Gestión Escolar</title>

    <link
      th:href="@{/vendor/fontawesome-free/css/all.min.css}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
  </head>

  <body id="page-top">
    <div id="wrapper">
      <div th:replace="~{fragments/sb-admin-sidebar :: sidebar}"></div>

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div th:replace="~{fragments/sb-admin-topbar :: topbar}"></div>

          <div class="container-fluid">
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1
                class="h3 mb-0 text-gray-800"
                th:text="${staff.id != null ? 'Editar Personal' : 'Nuevo Personal'}"
              >
                Personal
              </h1>
              <a th:href="@{/staff}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Volver
              </a>
            </div>

            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Información del Personal
                </h6>
              </div>
              <div class="card-body">
                <form th:action="@{/staff}" th:object="${staff}" method="post">
                  <input type="hidden" th:field="*{id}" />

                  <!-- General Error Message -->
                  <div
                    th:if="${errorMessage}"
                    class="alert alert-danger alert-dismissible fade show"
                    role="alert"
                  >
                    <span th:text="${errorMessage}"></span>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="alert"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Nombre</label>
                        <input
                          type="text"
                          th:field="*{firstName}"
                          class="form-control"
                          th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid' : ''"
                          required
                        />
                        <div
                          class="invalid-feedback"
                          th:if="${#fields.hasErrors('firstName')}"
                          th:errors="*{firstName}"
                        >
                          Error
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Apellido</label>
                        <input
                          type="text"
                          th:field="*{lastName}"
                          class="form-control"
                          th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid' : ''"
                          required
                        />
                        <div
                          class="invalid-feedback"
                          th:if="${#fields.hasErrors('lastName')}"
                          th:errors="*{lastName}"
                        >
                          Error
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>DNI</label>
                        <input
                          type="text"
                          th:field="*{dni}"
                          class="form-control"
                          th:classappend="${#fields.hasErrors('dni')} ? 'is-invalid' : ''"
                          required
                        />
                        <div
                          class="invalid-feedback"
                          th:if="${#fields.hasErrors('dni')}"
                          th:errors="*{dni}"
                        >
                          Error
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Cargo</label>
                        <select
                          th:field="*{jobTitle}"
                          class="form-control"
                          th:classappend="${#fields.hasErrors('jobTitle')} ? 'is-invalid' : ''"
                          required
                        >
                          <option value="">Seleccionar Cargo</option>
                          <option value="TEACHER">Profesor</option>
                          <option value="DIRECTOR">Director</option>
                          <option value="STAFF">Personal</option>
                        </select>
                        <div
                          class="invalid-feedback"
                          th:if="${#fields.hasErrors('jobTitle')}"
                          th:errors="*{jobTitle}"
                        >
                          Error
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Correo Electrónico</label>
                        <input
                          type="email"
                          th:field="*{email}"
                          class="form-control"
                          th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                        />
                        <div
                          class="invalid-feedback"
                          th:if="${#fields.hasErrors('email')}"
                          th:errors="*{email}"
                        >
                          Error
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Número de Teléfono</label>
                        <input
                          type="text"
                          th:field="*{phoneNumber}"
                          class="form-control"
                          th:classappend="${#fields.hasErrors('phoneNumber')} ? 'is-invalid' : ''"
                        />
                        <div
                          class="invalid-feedback"
                          th:if="${#fields.hasErrors('phoneNumber')}"
                          th:errors="*{phoneNumber}"
                        >
                          Error
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Salario</label>
                        <input
                          type="number"
                          step="0.01"
                          th:field="*{salary}"
                          class="form-control"
                          th:classappend="${#fields.hasErrors('salary')} ? 'is-invalid' : ''"
                          required
                        />
                        <div
                          class="invalid-feedback"
                          th:if="${#fields.hasErrors('salary')}"
                          th:errors="*{salary}"
                        >
                          Error
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Fecha de Contratación</label>
                        <input
                          type="date"
                          th:field="*{hireDate}"
                          class="form-control"
                          th:classappend="${#fields.hasErrors('hireDate')} ? 'is-invalid' : ''"
                          required
                        />
                        <div
                          class="invalid-feedback"
                          th:if="${#fields.hasErrors('hireDate')}"
                          th:errors="*{hireDate}"
                        >
                          Error
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Departamento</label>
                        <input
                          type="text"
                          th:field="*{department}"
                          class="form-control"
                          th:classappend="${#fields.hasErrors('department')} ? 'is-invalid' : ''"
                        />
                        <div
                          class="invalid-feedback"
                          th:if="${#fields.hasErrors('department')}"
                          th:errors="*{department}"
                        >
                          Error
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Especialización</label>
                        <input
                          type="text"
                          th:field="*{specialization}"
                          class="form-control"
                          th:classappend="${#fields.hasErrors('specialization')} ? 'is-invalid' : ''"
                        />
                        <div
                          class="invalid-feedback"
                          th:if="${#fields.hasErrors('specialization')}"
                          th:errors="*{specialization}"
                        >
                          Error
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Dirección</label>
                    <textarea
                      th:field="*{address}"
                      class="form-control"
                      rows="3"
                    ></textarea>
                  </div>

                  <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Guardar Personal
                  </button>
                  <a th:href="@{/staff}" class="btn btn-secondary">
                    <i class="fas fa-times"></i> Cancelar
                  </a>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div th:replace="~{fragments/sb-admin-footer :: footer}"></div>
      </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top"
      ><i class="fas fa-angle-up"></i
    ></a>
    <div th:replace="~{fragments/sb-admin-topbar :: logoutModal}"></div>

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
  </body>
</html>
