<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title
      th:text="${exam.id != null ? 'Editar Postulante' : 'Nuevo Postulante'}"
    >
      Admisión
    </title>

    <link
      th:href="@{/vendor/fontawesome-free/css/all.min.css}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
  </head>

  <body id="page-top">
    <div id="wrapper">
      <div th:replace="~{fragments/sb-admin-sidebar :: sidebar}"></div>

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div th:replace="~{fragments/sb-admin-topbar :: topbar}"></div>

          <div class="container-fluid">
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1
                class="h3 mb-0 text-gray-800"
                th:text="${exam.id != null ? 'Editar Postulante' : 'Nuevo Postulante'}"
              >
                Postulante
              </h1>
              <a th:href="@{/academic/admissions}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Volver
              </a>
            </div>

            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Información del Postulante
                </h6>
              </div>
              <div class="card-body">
                <form
                  th:action="@{/academic/admissions}"
                  th:object="${exam}"
                  method="post"
                >
                  <input type="hidden" th:field="*{id}" />

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Nombre Completo</label>
                      <input
                        type="text"
                        th:field="*{applicantName}"
                        class="form-control"
                        th:classappend="${#fields.hasErrors('applicantName')} ? 'is-invalid' : ''"
                        required
                      />
                      <div
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('applicantName')}"
                        th:errors="*{applicantName}"
                      >
                        Error
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label>DNI</label>
                      <input
                        type="text"
                        th:field="*{applicantDni}"
                        class="form-control"
                        th:classappend="${#fields.hasErrors('applicantDni')} ? 'is-invalid' : ''"
                        required
                      />
                      <div
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('applicantDni')}"
                        th:errors="*{applicantDni}"
                      >
                        Error
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label>Fecha de Examen</label>
                      <input
                        type="date"
                        th:field="*{examDate}"
                        class="form-control"
                        th:classappend="${#fields.hasErrors('examDate')} ? 'is-invalid' : ''"
                        required
                      />
                      <div
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('examDate')}"
                        th:errors="*{examDate}"
                      >
                        Error
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <label>Puntaje (0-100)</label>
                      <input
                        type="number"
                        step="0.01"
                        th:field="*{score}"
                        class="form-control"
                        th:classappend="${#fields.hasErrors('score')} ? 'is-invalid' : ''"
                      />
                      <div
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('score')}"
                        th:errors="*{score}"
                      >
                        Error
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <label>Estado</label>
                      <input
                        type="text"
                        th:field="*{status}"
                        class="form-control"
                        readonly
                        placeholder="Calculado automáticamente"
                      />
                      <small class="form-text text-muted"
                        >El estado se actualiza automáticamente según el
                        puntaje.</small
                      >
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Comentarios</label>
                    <textarea
                      th:field="*{comments}"
                      class="form-control"
                      rows="3"
                    ></textarea>
                  </div>

                  <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Guardar
                  </button>
                  <a
                    th:href="@{/academic/admissions}"
                    class="btn btn-secondary"
                  >
                    <i class="fas fa-times"></i> Cancelar
                  </a>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div th:replace="~{fragments/sb-admin-footer :: footer}"></div>
      </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top"
      ><i class="fas fa-angle-up"></i
    ></a>
    <div th:replace="~{fragments/sb-admin-topbar :: logoutModal}"></div>

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
  </body>
</html>
