<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Asistencia - Sistema Escolar</title>

    <link
      th:href="@{/vendor/fontawesome-free/css/all.min.css}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
  </head>

  <body id="page-top">
    <div id="wrapper">
      <div th:replace="~{fragments/sb-admin-sidebar :: sidebar}"></div>

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div th:replace="~{fragments/sb-admin-topbar :: topbar}"></div>

          <div class="container-fluid">
            <h1 class="h3 mb-4 text-gray-800">Control de Asistencia</h1>

            <div
              th:if="${success}"
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <i class="fas fa-check-circle"></i>
              <span th:text="${success}"></span>
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Cerrar"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Seleccionar Sección y Fecha
                </h6>
              </div>
              <div class="card-body">
                <form
                  method="get"
                  th:action="@{/attendance}"
                  class="form-inline"
                >
                  <label class="mr-2">Sección:</label>
                  <select name="sectionId" class="form-control mr-4" required>
                    <option value="">-- Seleccionar --</option>
                    <option
                      th:each="sec : ${sections}"
                      th:value="${sec.id}"
                      th:text="${sec.course.name + ' - ' + sec.name}"
                      th:selected="${sec.id == selectedSectionId}"
                    ></option>
                  </select>

                  <label class="mr-2">Fecha:</label>
                  <input
                    type="date"
                    name="dateStr"
                    class="form-control mr-4"
                    th:value="${selectedDate}"
                    required
                  />

                  <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i> Cargar Planilla
                  </button>
                </form>
              </div>
            </div>

            <div class="card shadow mb-4" th:if="${wrapper != null}">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Planilla de Asistencia -
                  <span th:text="${selectedDate}"></span>
                </h6>
              </div>
              <div class="card-body">
                <form
                  method="post"
                  th:action="@{/attendance/save}"
                  th:object="${wrapper}"
                >
                  <div class="table-responsive">
                    <table
                      class="table table-bordered"
                      width="100%"
                      cellspacing="0"
                    >
                      <thead>
                        <tr>
                          <th>Estudiante</th>
                          <th>Estado</th>
                          <th>Observaciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="att, itemStat : *{attendanceList}">
                          <!-- Hidden Inputs to bind IDs and fixed values -->
                          <input
                            type="hidden"
                            th:field="*{attendanceList[__${itemStat.index}__].id}"
                          />
                          <input
                            type="hidden"
                            th:field="*{attendanceList[__${itemStat.index}__].student}"
                          />
                          <input
                            type="hidden"
                            th:field="*{attendanceList[__${itemStat.index}__].section}"
                          />
                          <input
                            type="hidden"
                            th:field="*{attendanceList[__${itemStat.index}__].date}"
                          />

                          <td
                            th:text="${att.student.firstName + ' ' + att.student.lastName}"
                          >
                            Nombre Estudiante
                          </td>
                          <td>
                            <select
                              class="form-control"
                              th:field="*{attendanceList[__${itemStat.index}__].status}"
                            >
                              <option value="PRESENT">Presente</option>
                              <option value="ABSENT">Ausente</option>
                              <option value="LATE">Tardanza</option>
                              <option value="EXCUSED">Justificado</option>
                            </select>
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              th:field="*{attendanceList[__${itemStat.index}__].remarks}"
                              placeholder="Opcional"
                            />
                          </td>
                        </tr>
                        <tr th:if="${#lists.isEmpty(wrapper.attendanceList)}">
                          <td colspan="3" class="text-center">
                            No hay estudiantes en esta lista.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <button
                    type="submit"
                    class="btn btn-success mt-3"
                    th:if="${not #lists.isEmpty(wrapper.attendanceList)}"
                  >
                    <i class="fas fa-save"></i> Guardar Asistencia
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div th:replace="~{fragments/sb-admin-footer :: footer}"></div>
      </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top"
      ><i class="fas fa-angle-up"></i
    ></a>
    <div th:replace="~{fragments/sb-admin-topbar :: logoutModal}"></div>

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
  </body>
</html>
