<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Formulario de Curso - Sistema de Gestión Escolar</title>

    <link
      th:href="@{/vendor/fontawesome-free/css/all.min.css}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
    <th:block th:replace="~{fragments/select2-scripts :: select2-assets}"></th:block>
  </head>

  <body id="page-top">
    <div id="wrapper">
      <div th:replace="~{fragments/sb-admin-sidebar :: sidebar}"></div>

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div th:replace="~{fragments/sb-admin-topbar :: topbar}"></div>

          <div class="container-fluid">
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">
                <i class="fas fa-book mr-2 text-primary"></i><span th:text="${course.id != null ? 'Editar Curso' : 'Nuevo Curso'}">Curso</span>
              </h1>
              <a th:href="@{/courses}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Volver
              </a>
            </div>

            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Información del Curso
                </h6>
              </div>
              <div class="card-body">
                <form
                  th:action="@{/courses}"
                  th:object="${course}"
                  method="post"
                  class="needs-validation"
                  novalidate
                >
                  <input type="hidden" th:field="*{id}" />

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="code" class="font-weight-bold">Código del Curso <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-barcode text-primary"></i></span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            th:classappend="${#fields.hasErrors('code')} ? 'is-invalid'"
                            id="code"
                            th:field="*{code}"
                            placeholder="Ej: MATH101"
                            maxlength="10"
                            required
                          />
                          <div
                            class="invalid-feedback"
                            th:if="${#fields.hasErrors('code')}"
                            th:errors="*{code}"
                          ></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="name" class="font-weight-bold">Nombre del Curso <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-book text-primary"></i></span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                            id="name"
                            th:field="*{name}"
                            placeholder="Nombre del curso"
                            maxlength="100"
                            required
                          />
                          <div
                            class="invalid-feedback"
                            th:if="${#fields.hasErrors('name')}"
                            th:errors="*{name}"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="credits" class="font-weight-bold">Créditos <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-star text-primary"></i></span>
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            th:classappend="${#fields.hasErrors('credits')} ? 'is-invalid'"
                            id="credits"
                            th:field="*{credits}"
                            min="1"
                            max="10"
                            required
                          />
                          <div
                            class="invalid-feedback"
                            th:if="${#fields.hasErrors('credits')}"
                            th:errors="*{credits}"
                          ></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="weeklyHours" class="font-weight-bold">Horas Semanales <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-clock text-primary"></i></span>
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            th:classappend="${#fields.hasErrors('weeklyHours')} ? 'is-invalid'"
                            id="weeklyHours"
                            th:field="*{weeklyHours}"
                            min="1"
                            required
                          />
                          <div
                            class="invalid-feedback"
                            th:if="${#fields.hasErrors('weeklyHours')}"
                            th:errors="*{weeklyHours}"
                          ></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="gradeLevel" class="font-weight-bold">Nivel de Grado <span class="text-danger">*</span></label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-layer-group text-primary"></i></span>
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            th:classappend="${#fields.hasErrors('gradeLevel')} ? 'is-invalid'"
                            id="gradeLevel"
                            th:field="*{gradeLevel}"
                            min="1"
                            max="12"
                            required
                          />
                          <div
                            class="invalid-feedback"
                            th:if="${#fields.hasErrors('gradeLevel')}"
                            th:errors="*{gradeLevel}"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="learningObjectives" class="font-weight-bold">Objetivos de Aprendizaje</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-bullseye text-primary"></i></span>
                          </div>
                          <textarea
                            class="form-control"
                            th:classappend="${#fields.hasErrors('learningObjectives')} ? 'is-invalid'"
                            id="learningObjectives"
                            th:field="*{learningObjectives}"
                            rows="4"
                            placeholder="Objetivos clave de la materia"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="contentSummary" class="font-weight-bold">Resumen de Contenido</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-list-ul text-primary"></i></span>
                          </div>
                          <textarea
                            class="form-control"
                            th:classappend="${#fields.hasErrors('contentSummary')} ? 'is-invalid'"
                            id="contentSummary"
                            th:field="*{contentSummary}"
                            rows="4"
                            placeholder="Temas principales a tratar"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="books" class="font-weight-bold">Libros de la Biblioteca (Recomendados)</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-bookmark text-primary"></i></span>
                          </div>
                          <select th:field="*{books}" id="books" class="form-control" multiple="multiple">
                            <option th:each="book : ${allBooks}"
                                    th:value="${book.id}"
                                    th:text="${book.title + ' (' + book.author + ')'}">
                              Libro
                            </option>
                          </select>
                        </div>
                        <small class="form-text text-muted">Mantenga presionado Ctrl para seleccionar varios libros.</small>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="digitalResources" class="font-weight-bold">Recursos Digitales (Repositorio)</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-laptop text-primary"></i></span>
                          </div>
                          <select th:field="*{digitalResources}" id="digitalResources" class="form-control" multiple="multiple">
                            <option th:each="res : ${allDigitalResources}"
                                    th:value="${res.id}"
                                    th:text="${res.title}">
                              Recurso
                            </option>
                          </select>
                        </div>
                        <small class="form-text text-muted">Recursos adicionales del repositorio digital.</small>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="description" class="font-weight-bold">Descripción General (Notas Adicionales)</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-sticky-note text-primary"></i></span>
                      </div>
                      <textarea
                        class="form-control"
                        th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'"
                        id="description"
                        th:field="*{description}"
                        rows="2"
                        maxlength="500"
                        placeholder="Descripción opcional"
                      ></textarea>
                    </div>
                  </div>

                  <hr>

                  <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary px-4 shadow-sm">
                      <i class="fas fa-save mr-1"></i> Guardar Curso
                    </button>
                    <a th:href="@{/courses}" class="btn btn-secondary px-4 ml-2">
                      <i class="fas fa-times mr-1"></i> Cancelar
                    </a>
                  </div>
                </form>
              </div>
            </div>

            <!-- Course Resources Section (Only in Edit Mode) -->
            <div class="card shadow mb-4" th:if="${course.id != null}">
              <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
              >
                <h6 class="m-0 font-weight-bold text-primary">
                  Recursos del Curso
                </h6>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <div class="table-responsive">
                      <table
                        class="table table-bordered"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr>
                            <th>Recurso / Descripción</th>
                            <th>Categoría</th>
                            <th>Enlace/Info</th>
                            <th>Acción</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="resource : ${resources}">
                            <td>
                              <strong th:text="${resource.title}">Guía</strong>
                              <br />
                              <small
                                class="text-muted"
                                th:text="${#strings.abbreviate(resource.description, 100)}"
                                >Descripción del recurso</small
                              >
                            </td>
                            <td>
                              <span
                                class="badge badge-info"
                                th:text="${resource.category.description}"
                                >Syllabus</span
                              >
                            </td>
                            <td>
                              <a
                                th:href="${resource.url}"
                                target="_blank"
                                th:text="${#strings.abbreviate(resource.url, 30)}"
                                th:if="${#strings.startsWith(resource.url, 'http')}"
                                >Link</a
                              >
                              <span
                                th:text="${resource.url}"
                                th:unless="${#strings.startsWith(resource.url, 'http')}"
                                >Info</span
                              >
                            </td>
                            <td>
                              <form
                                th:action="@{/courses/resources/delete/{resourceId}(resourceId=${resource.id})}"
                                method="post"
                                style="display: inline"
                              >
                                <input
                                  type="hidden"
                                  name="courseId"
                                  th:value="${course.id}"
                                />
                                <button
                                  type="submit"
                                  class="btn btn-sm btn-danger"
                                  onclick="return confirm('¿Seguro de eliminar este recurso?');"
                                >
                                  <i class="fas fa-trash"></i>
                                </button>
                              </form>
                            </td>
                          </tr>
                          <tr th:if="${#lists.isEmpty(resources)}">
                            <td colspan="4" class="text-center text-muted">
                              No hay recursos asignados.
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card border-left-info shadow h-100 py-2">
                      <div class="card-body">
                        <h6 class="font-weight-bold text-info mb-3">
                          Agregar Recurso
                        </h6>
                        <form
                          th:action="@{/courses/{id}/resources(id=${course.id})}"
                          th:object="${newResource}"
                          method="post"
                        >
                          <div class="form-group">
                            <label>Título</label>
                            <input type="text" th:field="*{title}"
                          </div>
                          <div class="form-group">
                            <label>Categoría</label>
                            <select
                              th:field="*{category}"
                              class="form-control"
                              required
                            >
                              <option
                                th:each="cat : ${T(com.school.academic.enums.ResourceCategory).values()}"
                                th:value="${cat}"
                                th:text="${cat.description}"
                              >
                                Syllabus
                              </option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label>Descripción Corta</label>
                            <textarea
                              th:field="*{description}"
                              class="form-control"
                              rows="2"
                              placeholder="Ej. Plan de estudios detallado para el primer semestre"
                            ></textarea>
                          </div>
                          <div class="form-group">
                            <label>URL / Enlace</label>
                            <input
                              type="text"
                              th:field="*{url}"
                              class="form-control"
                              placeholder="https://..."
                              required
                            />
                            <small class="form-text text-muted"
                              >Pegue aquí el enlace al material (Drive, YouTube,
                              etc.)</small
                            >
                          </div>
                          <button type="submit" class="btn btn-info btn-block">
                            <i class="fas fa-plus"></i> Agregar Recurso
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div th:replace="~{fragments/sb-admin-footer :: footer}"></div>
      </div>
    </div>

    <div th:replace="~{fragments/sb-admin-topbar :: logoutModal}"></div>

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
    <th:block th:replace="~{fragments/select2-scripts :: select2-scripts}"></th:block>

    <script>
      (function () {
        "use strict";
        window.addEventListener(
          "load",
          function () {
            var forms = document.getElementsByClassName("needs-validation");
            var validation = Array.prototype.filter.call(
              forms,
              function (form) {
                form.addEventListener(
                  "submit",
                  function (event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add("was-validated");
                  },
                  false,
                );
              },
            );
          },
          false,
        );
      })();
    </script>
  </body>
</html>
