<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>SB Admin 2 - Footer</title>
  </head>
  <body>
    <!-- Footer -->
    <footer class="sticky-footer bg-white" th:fragment="footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Sistema de Gestión Escolar 2026</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->
  </body>
</html>
