<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>SB Admin 2 - Topbar</title>
  </head>
  <body>
    <!-- Topbar -->
    <nav
      class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
      th:fragment="topbar"
      role="navigation"
      aria-label="Barra superior"
    >
      <!-- Sidebar Toggle (Topbar) -->
      <button
        id="sidebarToggleTop"
        class="btn btn-link d-md-none rounded-circle mr-3"
        aria-label="Mostrar/Ocultar menú lateral"
      >
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>

      <!-- Topbar Navbar -->
      <ul class="navbar-nav ml-auto" role="menubar">
        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1" role="none">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="alertsDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            aria-label="Notificaciones"
          >
            <i class="fas fa-bell fa-fw" aria-hidden="true"></i>
            <!-- Counter - Alerts -->
            <span
              class="badge badge-danger badge-counter"
              th:if="${unreadNotificationsCount > 0}"
              th:text="${unreadNotificationsCount > 3 ? '3+' : unreadNotificationsCount}"
              >3+</span
            >
          </a>
          <!-- Dropdown - Alerts -->
          <div
            class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
            aria-labelledby="alertsDropdown"
          >
            <h6 class="dropdown-header">Centro de Notificaciones</h6>
            <a
              class="dropdown-item text-center small text-gray-500"
              th:href="@{/notifications}"
              >Mostrar todas las notificaciones</a
            >
          </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow" role="none">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="userDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            aria-label="Opciones de usuario"
          >
            <span
              class="mr-2 d-none d-lg-inline text-gray-600 small"
              sec:authentication="principal.username"
              aria-label="Usuario actual"
              >Usuario</span
            >
            <img
              class="img-profile rounded-circle"
              src="/img/undraw_profile.svg"
              alt="Avatar de usuario"
            />
          </a>
          <!-- Dropdown - User Information -->
          <div
            class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
            aria-labelledby="userDropdown"
          >
            <a class="dropdown-item" href="/profile">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Perfil
            </a>
            <a class="dropdown-item" href="/settings">
              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Configuración
            </a>
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              href="#"
              data-toggle="modal"
              data-target="#logoutModal"
            >
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Cerrar Sesión
            </a>
          </div>
        </li>
      </ul>
    </nav>
    <!-- End of Topbar -->

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      th:fragment="logoutModal"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              ¿Listo para salir?
            </h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Selecciona "Cerrar Sesión" a continuación si estás listo para
            terminar tu sesión actual.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancelar
            </button>
            <form th:action="@{/logout}" method="post" style="display: inline">
              <button class="btn btn-primary" type="submit">
                Cerrar Sesión
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
