<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Formulario de Horario - Sistema de Gestión Escolar</title>

    <link
      th:href="@{/vendor/fontawesome-free/css/all.min.css}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
  </head>

  <body id="page-top">
    <div id="wrapper">
      <div th:replace="~{fragments/sb-admin-sidebar :: sidebar}"></div>

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div th:replace="~{fragments/sb-admin-topbar :: topbar}"></div>

          <div class="container-fluid">
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">
                <i class="fas fa-clock mr-2 text-primary"></i
                ><span
                  th:text="${scheduleEntry.id != null ? 'Editar Horario' : 'Nuevo Horario'}"
                  >Horario</span
                >
              </h1>
              <a th:href="@{/schedules}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Volver
              </a>
            </div>

            <div
              th:if="${error}"
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
            >
              <i class="fas fa-exclamation-triangle"></i>
              <span th:text="${error}"></span>
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Cerrar"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Información del Horario
                </h6>
              </div>
              <div class="card-body">
                <form
                  th:action="@{/schedules}"
                  th:object="${scheduleEntry}"
                  method="post"
                  class="needs-validation"
                  novalidate
                >
                  <input type="hidden" th:field="*{id}" />

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="font-weight-bold"
                          >Día de la Semana
                          <span class="text-danger">*</span></label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"
                              ><i class="fas fa-calendar-alt"></i
                            ></span>
                          </div>
                          <select
                            th:field="*{dayOfWeek}"
                            class="form-control"
                            th:classappend="${#fields.hasErrors('dayOfWeek')} ? 'is-invalid'"
                            required
                          >
                            <option value="">Seleccionar Día</option>
                            <option value="MONDAY">Lunes</option>
                            <option value="TUESDAY">Martes</option>
                            <option value="WEDNESDAY">Miércoles</option>
                            <option value="THURSDAY">Jueves</option>
                            <option value="FRIDAY">Viernes</option>
                            <option value="SATURDAY">Sábado</option>
                          </select>
                        </div>
                        <div
                          class="invalid-feedback"
                          th:if="${#fields.hasErrors('dayOfWeek')}"
                          th:errors="*{dayOfWeek}"
                        ></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="font-weight-bold"
                          >Hora de Inicio
                          <span class="text-danger">*</span></label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"
                              ><i class="fas fa-clock"></i
                            ></span>
                          </div>
                          <input
                            type="time"
                            th:field="*{startTime}"
                            class="form-control"
                            th:classappend="${#fields.hasErrors('startTime')} ? 'is-invalid'"
                            required
                          />
                        </div>
                        <div
                          class="invalid-feedback"
                          th:if="${#fields.hasErrors('startTime')}"
                          th:errors="*{startTime}"
                        ></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="font-weight-bold"
                          >Hora de Fin <span class="text-danger">*</span></label
                        >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"
                              ><i class="fas fa-hourglass-end"></i
                            ></span>
                          </div>
                          <input
                            type="time"
                            th:field="*{endTime}"
                            class="form-control"
                            th:classappend="${#fields.hasErrors('endTime')} ? 'is-invalid'"
                            required
                          />
                        </div>
                        <div
                          class="invalid-feedback"
                          th:if="${#fields.hasErrors('endTime')}"
                          th:errors="*{endTime}"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="font-weight-bold"
                      >Sección <span class="text-danger">*</span></label
                    >
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fas fa-chalkboard-teacher"></i
                        ></span>
                      </div>
                      <select
                        th:field="*{section.id}"
                        class="form-control"
                        required
                      >
                        <option value="">Seleccionar Sección...</option>
                        <option
                          th:each="section : ${sections}"
                          th:value="${section.id}"
                          th:text="${section.course?.name + ' - ' + section.name + ' (' + (section.teacher != null ? section.teacher.lastName : 'No Teacher') + ' - ' + (section.room != null ? section.room.roomNumber : 'No Room') + ')'}"
                        >
                          Section
                        </option>
                      </select>
                    </div>
                  </div>

                  <hr />

                  <div class="form-group text-right">
                    <button
                      type="submit"
                      class="btn btn-primary px-4 shadow-sm"
                    >
                      <i class="fas fa-save mr-1"></i> Guardar Horario
                    </button>
                    <a
                      th:href="@{/schedules}"
                      class="btn btn-secondary px-4 ml-2"
                    >
                      <i class="fas fa-times mr-1"></i> Cancelar
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div th:replace="~{fragments/sb-admin-footer :: footer}"></div>
      </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top"
      ><i class="fas fa-angle-up"></i
    ></a>
    <div th:replace="~{fragments/sb-admin-topbar :: logoutModal}"></div>

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <script>
      $(document).ready(function () {
        $("form").on("submit", function (e) {
          var startTime = $("input[name='startTime']").val();
          var endTime = $("input[name='endTime']").val();

          if (startTime && endTime) {
            if (startTime >= endTime) {
              e.preventDefault();
              alert("La hora de inicio debe ser anterior a la hora de fin.");
            }
          }
        });
      });
    </script>
  </body>
</html>
