<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Error Inesperado</title>
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="container text-center mt-5">
      <div class="alert alert-dark" role="alert">
        <h1 class="display-3">Error</h1>
        <h2 class="alert-heading">Ha ocurrido un error inesperado</h2>
        <p>
          Por favor, intenta de nuevo más tarde o contacta al administrador del
          sistema.
        </p>
        <hr />
        <a th:href="@{/}" class="btn btn-secondary">Ir a la página de inicio</a>
      </div>
    </div>
  </body>
</html>
