<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Recuperar Contraseña - Sistema de Gestión Escolar</title>

    <!-- Custom fonts -->
    <link
      th:href="@{/vendor/fontawesome-free/css/all.min.css}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles -->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
  </head>

  <body class="bg-gradient-primary">
    <div class="container">
      <!-- Outer Row -->
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-2">
                        ¿Olvidó su Contraseña?
                      </h1>
                      <p class="mb-4">
                        Ingrese su dirección de correo electrónico y le
                        enviaremos un enlace para restablecer su contraseña.
                      </p>
                    </div>

                    <div
                      th:if="${param.error}"
                      class="alert alert-danger"
                      role="alert"
                    >
                      Correo electrónico no encontrado.
                    </div>
                    <div
                      th:if="${param.success}"
                      class="alert alert-success"
                      role="alert"
                    >
                      Se ha enviado un enlace de recuperación a su correo
                      electrónico.
                    </div>

                    <form
                      class="user needs-validation"
                      th:action="@{/forgot-password}"
                      method="post"
                      novalidate
                    >
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span
                              class="input-group-text bg-white border-right-0"
                              style="
                                border-radius: 10rem 0 0 10rem;
                                padding-left: 1.5rem;
                              "
                            >
                              <i class="fas fa-envelope text-primary"></i>
                            </span>
                          </div>
                          <input
                            type="email"
                            class="form-control form-control-user border-left-0"
                            name="email"
                            placeholder="Ingrese su Correo Electrónico..."
                            required
                            style="border-radius: 0 10rem 10rem 0"
                          />
                        </div>
                      </div>
                      <button
                        type="submit"
                        class="btn btn-primary btn-user btn-block shadow-sm"
                      >
                        <i class="fas fa-paper-plane mr-2"></i> Restablecer
                        Contraseña
                      </button>
                    </form>
                    <hr />
                    <div class="text-center">
                      <a class="small" th:href="@{/register}"
                        >¡Crear una Cuenta!</a
                      >
                    </div>
                    <div class="text-center">
                      <a class="small" th:href="@{/login}"
                        >¿Ya tiene una cuenta? ¡Inicie Sesión!</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
  </body>
</html>
