<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Asistencia de Personal - Sistema de Gestión Escolar</title>

    <link
      th:href="@{/vendor/fontawesome-free/css/all.min.css}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
  </head>

  <body id="page-top">
    <div id="wrapper">
      <div th:replace="~{fragments/sb-admin-sidebar :: sidebar}"></div>

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div th:replace="~{fragments/sb-admin-topbar :: topbar}"></div>

          <div class="container-fluid">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Control de Asistencia</h1>

        <form class="form-inline" method="get" th:action="@{/hr/attendance}">
          <label class="mr-2">Fecha:</label>
          <input
            type="date"
            name="date"
            class="form-control form-control-sm mr-2"
            th:value="${date}"
          />
          <button type="submit" class="btn btn-sm btn-primary">Ver</button>
        </form>
      </div>

      <div class="row">
        <!-- List -->
        <div class="col-lg-8">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">
                Registros del Día
              </h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table
                  class="table table-bordered table-sm"
                  id="dataTable"
                  width="100%"
                  cellspacing="0"
                >
                  <thead>
                    <tr>
                      <th>Personal</th>
                      <th>Entrada</th>
                      <th>Salida</th>
                      <th>Estado</th>
                      <th>Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="att : ${attendanceList}">
                      <td
                        th:text="${att.staff.firstName + ' ' + att.staff.lastName}"
                      >
                        Nombre
                      </td>
                      <td th:text="${att.checkInTime}">08:00</td>
                      <td th:text="${att.checkOutTime ?: '--:--'}">16:00</td>
                      <td>
                        <span th:text="${att.status}" class="badge badge-info"
                          >PRESENT</span
                        >
                      </td>
                      <td>
                        <!-- Checkout Action if empty -->
                        <form
                          th:if="${att.checkOutTime == null}"
                          th:action="@{/hr/attendance/checkout}"
                          method="post"
                          class="form-inline"
                        >
                          <input
                            type="hidden"
                            name="staffId"
                            th:value="${att.staff.id}"
                          />
                          <input
                            type="time"
                            name="time"
                            class="form-control form-control-sm mr-1"
                            required
                          />
                          <button type="submit" class="btn btn-sm btn-warning">
                            Salida
                          </button>
                        </form>
                      </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(attendanceList)}">
                      <td colspan="5" class="text-center text-muted">
                        No hay registros para esta fecha.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Manual Entry Box -->
        <div class="col-lg-4">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-success">
                Registro Manual de Entrada
              </h6>
            </div>
            <div class="card-body">
              <form th:action="@{/hr/attendance/checkin}" method="post">
                <div class="form-group">
                  <label>Personal</label>
                  <select name="staffId" class="form-control" required>
                    <option value="">Seleccione...</option>
                    <option
                      th:each="s : ${staffList}"
                      th:value="${s.id}"
                      th:text="${s.firstName + ' ' + s.lastName}"
                    ></option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Hora de Entrada</label>
                  <input
                    type="time"
                    name="time"
                    class="form-control"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-success btn-block">
                  Registrar Entrada
                </button>
              </form>
            </div>
          </div>
        </div>
          </div>
        </div>

        <div th:replace="~{fragments/sb-admin-footer :: footer}"></div>
      </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top"
      ><i class="fas fa-angle-up"></i
    ></a>
    <div th:replace="~{fragments/sb-admin-topbar :: logoutModal}"></div>

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/js/demo/datatables-demo.js}"></script>
  </body>
</html>
